:root {
  --bg: #0d1433;
  --card-bg: #171f55;
  --input-bg: #274272;
  --text: #93b8ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
}

body {
  font-family: varela;
  background: var(--bg);
}

@font-face {
  font-family: "varela";
  src: url("./assets/varela-round.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: varela;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* 
==========
  Header
==========
*/
.header {
  width: 100%;
  background: var(--card-bg);
  color: var(--text);
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.header-title {
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
}

.search-form {
  background: var(--input-bg);
  height: 3rem;
  width: 80%;
  border-radius: 50px;
  padding-block: 1rem;
  padding-inline: 1rem 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  color: var(--text);
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: var(--text);
}

.search-btn {
  color: var(--text);
  font-size: 2.3rem;
}

/* 
==========
  Main
==========
*/
.main {
  background: var(--bg);
  padding: 2rem 1rem;
}

.condition-box {
  color: var(--text);
  font-size: 5rem;
  text-align: center;
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.card {
  width: 80%;
  background: #050421;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 2rem;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.card-img,
.card-title {
  background: linear-gradient(110deg, #213243 8%, #24384a 18%, #213243 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}
.card-img {
  height: 24rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-title {
  height: 3rem;
}

.error-text {
}

.warning-text {
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.movie-item {
  margin: auto;
  background: var(--card-bg);
  color: var(--text);
  border-radius: 12px;
  padding: 1rem;
  width: 30rem;
  min-height: 35rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.poster-wrapper {
  width: 100%;
  height: 33rem;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.movie-poster {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.movie-overview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  opacity: 0;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  overflow: auto;
}

.movie-item:hover .movie-overview {
  opacity: 1;
}

.overview-text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: #c8d7eb;
}

.info-box {
  width: 100%;
  padding-left: 0.5rem;
}

.movie-name {
  text-align: left;
  font-size: 2rem;
}

.movie-vote {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.3rem;
  background: rgb(255, 157, 0);
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  padding: 0.3rem 0.5rem;
}

.green-vote {
  background: rgb(73, 185, 21);
  color: #fff;
}

.red-vote {
  background: rgb(185, 21, 21);
  color: #fff;
}

.pagination-box {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-size: 2.5rem;
  gap: 2rem;
}

.current-page {
  border: #ffcc00 solid 1.5px;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-btn {
  color: var(--text);
}

.disable-btn {
  color: #b6b7b8;
}

/* 
===========
  Footer
==========
*/
.footer {
  text-align: center;
  background: var(--bg);
  padding-top: 8rem;
}

.footer-text {
  font-size: 1.5rem;
  color: var(--text);

  padding-bottom: 1rem;
}

.footer-text a {
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  color: #c8d7eb;
}

.footer-text a:hover {
  transform: scale(1.02);
}

/* 
==============
  Responsive
==============
*/

/* ====== 480px ====== */
@media (min-width: 480px) {
  .header {
    padding: 1.5rem 1rem;
    gap: 1.5rem;
  }
  .header-title {
    font-size: 3.5rem;
  }
  .search-form {
    height: 3.5rem;
    width: 80%;
    padding-inline: 1rem 1.5rem;
  }
  .search-input {
    font-size: 2rem;
  }
  .loading-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-item {
    width: 22rem;
    max-height: 30rem;
  }
  .pagination-box {
    font-size: 2.8rem;
  }
  .footer-text {
    font-size: 2rem;
  }
  .footer-text a {
    font-size: 2rem;
  }
}

/* ====== 576px ====== */
@media (min-width: 576px) {
  .movie-item {
    width: 25rem;
  }
}

/* ====== 768px ====== */
@media (min-width: 768px) {
  .search-form {
    width: 50%;
  }
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-item {
    max-height: 35rem;
    width: 30rem;
  }
}

/* ====== 912px ====== */
@media (min-width: 912px) {
  .card {
    width: 30%;
  }
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .movie-item {
    width: 28rem;
  }
}

/* ====== 1024px ====== */
@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5rem 5rem;
  }
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .movie-item {
    min-width: 30rem;
  }
  .search-form {
    height: 4rem;
    width: 40%;
  }
}

/* ====== 1200px ====== */
@media (min-width: 1200px) {
  .search-form {
    height: 4rem;
    width: 30%;
  }
  .card {
    width: 24%;
  }
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .movie-item {
    min-width: 0;
    max-width: 30rem;
    padding: 0.6rem;
    padding-bottom: 1rem;
  }
}

/* ====== 1440px ====== */
@media (min-width: 1440px) {
  .movie-item {
    min-width: 33rem;
  }
}
